<!-- Header Starts -->
<header>
  <a href="#" class="logo">My Blog</a>
  <div class="menuToggle" (click)="onMenuClick()"></div>
</header>
<!-- Header Ends -->
<ul class="navigation">
  <li><a href="#home" (click)="toggleChange()">Home</a></li>
  <li><a href="#about" (click)="toggleChange()">About</a></li>
  <li><a href="#post" (click)="toggleChange()">Post</a></li>
  <li><a href="#contact" (click)="toggleChange()">Contact</a></li>
</ul>

<!-- Banner -->
<section class="banner" id="home">
  <img src="../assets/banner.jpg" alt="" class="cover" />
  <div class="contentBx">
    <h2>The soul of the world.</h2>
    <h4>A simple blog website</h4>
    <a href="#about" class="btn">About us</a>
  </div>
</section>

<!-- About -->
<section class="about" id="about">
  <div class="title">
    <h2>About us</h2>
  </div>
  <div class="contentBx">
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        dolore consequuntur vel facere blanditiis impedit dolores officiis
        temporibus voluptatem libero totam illo rerum, magni, maiores id tenetur
        corporis molestiae quas fuga unde repellendus at itaque dolor vitae?
        Sint, voluptate ex! Id sapiente accusantium natus eum, tempore nam
        doloribus molestias, possimus eius incidunt ipsam eos, reprehenderit
        quibusdam aut obcaecati explicabo! Illo esse accusantium rem fuga!
        Atque, fuga? Laborum, neque! <br /><br />
        Assumenda facere quia nobis dolores voluptatem debitis enim nostrum
        nisi, tempore ex et in illum saepe magni sequi eaque ab labore veniam
        ratione placeat cupiditate modi impedit pariatur. Deleniti quaerat
        repudiandae earum qui optio, reiciendis dolore autem non doloribus
        distinctio, nobis, dicta mollitia. Aliquam maxime tempora molestiae.
        Dolore illo ullam impedit laudantium maxime temporibus vitae, commodi
        est asperiores dignissimos natus odio? Nulla facere similique sunt enim
        repudiandae excepturi dignissimos nisi reprehenderit soluta sint? Porro,
        commodi.
      </p>
    </div>
    <div class="content">
      <div class="imgBx">
        <img class="cover" src="../assets/img1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- Latest Blog Post -->
<section class="post" id="post">
  <div class="title">
    <h2>Latest Post</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima odit
      numquam distinctio dolor temporibus.
    </p>
  </div>
  <div class="contentBx">
    <div class="postColumn">
      <div class="postBox">
        <div class="imgBx">
          <img src="../assets/post1.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn ">
      <div class="postBox ">
        <div class="imgBx">
          <img src="../assets/post2.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn">
      <div class="postBox">
        <div class="imgBx">
          <img src="../assets/post3.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn">
      <div class="postBox">
        <div class="imgBx">
          <img src="../assets/post4.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn">
      <div class="postBox">
        <div class="imgBx">
          <img src="../assets/post5.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn">
      <div class="postBox">
        <div class="imgBx">
          <img src="../assets/post6.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn">
      <div class="postBox ">
        <div class="imgBx">
          <img src="../assets/post7.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn">
      <div class="postBox">
        <div class="imgBx">
          <img src="../assets/post8.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
    <div class="postColumn">
      <div class="postBox">
        <div class="imgBx">
          <img src="../assets/post9.jpg" class="cover" alt="" />
        </div>
        <div class="textBx">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa esse
            totam nisi laboriosam voluptas possimus.
          </h3>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="title">
    <a href="#" class="btn loadmore60">Load More</a>
  </div>
</section>

<!-- Contact -->
<section class="contact" id="contact">
  <div class="title">
    <h2>Get in Touch</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima odit
      numquam distinctio dolor temporibus.
    </p>
  </div>
  <div class="contactForm">
    <div class="row">
      <input type="text" name="" placeholder="First Name" />
      <input type="text" name="" placeholder="Last Name" />
    </div>
    <div class="row">
      <input type="email" name="" placeholder="Email Address" />
      <input type="number" name="" placeholder="Mobile No." />
    </div>
    <div class="row2">
      <textarea placeholder="Message"></textarea>
    </div>
    <div class="row2">
      <input type="submit" value="send" class="btn" />
    </div>
  </div>
</section>

<!-- Footer= -->
<footer>
  <a href="#" class="logo">My Blog</a>
  <ul class="footerMenu">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#post">Post</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <p class="copyrightText">©Copyright 2023 Coherent® All Rights Reserved up</p>
</footer>
